In [101]:
data =  [
        ['client_id','order_id','date','amount'],
        [1,1,'13/8/20 17:00',23.12],
        [2,2,'14/8/20 12:00',21.12],
        [3,3,'14/8/20 17:00',3.12],
        [3,4,'13/8/20 14:00',123.12]
        ]

In [ ]:
def Op(data):
    import pandas as pd
    
    # converting list into df and naming columns
    df = pd.DataFrame(data, columns= data[0])
    
    # deleting first row
    df = df.iloc[1:]
    
    # changing type of variables
    df = df.astype({'client_id': int, 'order_id': int, 'amount': float})
    df['date'] =  pd.to_datetime(df['date'], format='%d%b%Y:%H:%M:%S.%f')
    
    # filtering out orders
    df1 = df[(df['date'] < '2020-08-14 10')]
    df2 = df[(df['date'] > '2020-08-14 15')]
    df = df1.append(df2, ignore_index = True).sort_values('date')
    
    # discount
    cl3 = df[df['client_id'] == 3]
    cl3 = cl3['amount'] / 5
    df = df[df['client_id'] != 3] 
    df = df.append(cl3, ignore_index = True)
    
    # agg
    df.pivot_table('client_id')

In [88]:
df.pivot_table(index= ['client_id'], values= ['amount'])

           amount
client_id
1           23.12

In [102]:
import pandas as pd

In [103]:
df = pd.DataFrame(data, columns= data[0])

In [104]:
df = df.iloc[1:]

In [105]:
df = df.astype({'client_id': int, 'order_id': int, 'amount': float})

In [108]:
df['date'] =  pd.to_datetime(df['date'])

In [109]:
df

   client_id  order_id                date  amount
1          1         1 2020-08-13 17:00:00   23.12
2          2         2 2020-08-14 12:00:00   21.12
3          3         3 2020-08-14 17:00:00    3.12
4          3         4 2020-08-13 14:00:00  123.12

In [110]:
df1 = df[(df['date'] < '2020-08-14 10')]
df2 = df[(df['date'] > '2020-08-14 15')]

In [111]:
df = df1.append(df2, ignore_index = True).sort_values('date')

In [113]:
df.pivot_table(index= ['client_id'], values= ['amount'])

           amount
client_id
1           23.12
3           63.12

In [72]:
cl3 = df[df['client_id'] == 3]

In [74]:
cl3 = cl3['amount'] / 5

In [75]:
cl3

1    24.624
2     0.624
Name: amount, dtype: float64

In [81]:
df = df[df['client_id'] != 3]

In [87]:
df.pivot_table('client_id')

ValueError: No group keys passed!

In [68]:
if df['client_id'] == 3:
    df['amount'] == df['amount'] / 5

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
def appl_disc(x):
    if  == 'N':
        return 0
    else: 
        return 1

In [67]:
def applying_disc(client):
    if df['client'] == 3:
        df['amount'] = df['amount'] / 5
    else:
        pass
    
    
df['amount']= df['amount'].apply(applying_disc)

KeyError: 'client'

In [62]:
df['amount'] / 3

1    41.040000
0     7.706667
2     1.040000
Name: amount, dtype: float64

In [89]:
df

   client_id  order_id                date  amount
0          1         1 2020-08-13 17:00:00   23.12

In [ ]:
df.loc['2020-08-14 10:00:00':'2020-08-14 10:00:00']

In [39]:
df

   client_id  order_id                date  amount
1          1         1 2020-08-13 17:00:00   23.12
2          2         2 2020-08-14 12:00:00   21.12
3          3         3 2020-08-14 17:00:00    3.12
4          3         4 2020-08-13 14:00:00  123.12

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 1 to 4
Data columns (total 4 columns):
client_id    4 non-null int64
order_id     4 non-null int64
date         4 non-null object
amount       4 non-null object
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes

In [15]:
df.dtypes

client_id    object
order_id     object
date         object
amount       object
dtype: object

In [22]:
def f(value, values):
    v = 1
    values[0] = 44
    
t= 3
v = [1,2,3]
f(t,v)
print(t,v[0])

3 44

In [21]:
a = {}
a[2]=1
a[1]=[2,3,4]
print(a[1][1])

3

In [20]:
y = 8
z = lambda x : x*y

print(z(6))

48